.app-drawer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 15px 40px;
    overflow-x: hidden;
    width: 500px;
    max-height: 600px;
}

.app-drawer .app-drawer__app {
    transform: scale(1.8);
    height: 130px;
    width: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.app-drawer .app-title {
    margin-top: 5px;
    font-size: xx-small;
}

.app-drawer .category {
    width: 400px;
    height: 10px;
    font-size: x-large;
}