.app-drawer,
.app-drawer .app-drawer__app,
.app-drawer__footer,
.app-drawer__footer a {
    display: flex;
    align-items: center;
    justify-content: center;
}


.app-drawer {
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 40px 20px;
    overflow-x: hidden;
    width: 500px;
    max-height: 560px;
}

.app-drawer .app-drawer__app {
    transform: scale(1.8);
    flex-direction: column;
    margin: 45px 45px;
}

.app-drawer .app-title {
    margin-top: 5px;
    font-size: xx-small;
}

.app-drawer .category {
    width: 400px;
    height: 10px;
    font-size: x-large;
}

.app-drawer__footer {
    height: 66px;
    background: #0000001a;
    justify-content: space-between;
    padding: 0 66px;
}

.app-drawer__footer a {
    height: 44px;
    width: 44px;
    border: none;
    border-radius: 100px;
    background: #00000023;
}

.app-drawer__footer a:hover {
    background: #0000000e;
}