<html>
<div class="ctnr">
    <img src="https://pbs.twimg.com/profile_images/1297300105532301313/ljmAgTFm_400x400.jpg" alt="pfp">
    <div>
        <h3>
            Me? The name's Reeeon.
        </h3>
        <p>
            I'm most known as the eevee artist on X/Twitter. Other than that I also game and
            program stuff.
            <br><br>
            Favorite music artist: Snail's House.<br>
            Favorite (art) artist: Ivan Jhang.<br>
            Switch friend code: SW-4329-3705-0798<br>
        </p>
        <div class="pronoun">
            <button onclick="((e) => e.remove())(this)">Reveal pronoun...</button>
            <sub>he/they/it/Reeon</sub>
        </div>
    </div>
</div>

</html>

<style>
    .ctnr {
        font-family: Arial;
        padding: 10px 20px;
        display: flex;
        align-items: center;
    }

    img {
        width: 150px;
        height: 150px;
        border-radius: 100px;
        border: 5px solid #eee;
        box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.5);
        margin: 20px 40px 0 0;
    }

    .pronoun button {
        position: absolute;
    }
</style>