<html style="background:#fff">
<div class="ctnr">
    <input type="text" value="password.txt">
    <textarea name="" id="" cols="30"
        rows="10">pw: ???


---
"Umbreon isn’t just a pokemon, it’s a lifestyle, a reason to live, an escape from this cruel world filled with thieves. it’s art, a hug from a loved one, everything you’ve ever wanted."
</textarea>
</div>

</html>

<style>
    .ctnr {
        padding: 10px 20px;
    }
    textarea, input {
        width: 100%;
        font-size: 22px;
        border: none;
        font-family: 'Times New Roman', Times, serif;
    }
    input {
        margin: 10px 0;
    }
    textarea {
        height: 100%;
    }
</style>